@model IEnumerable<RoleViewModel>


@{
    ViewData["Title"] = "All Roles";
}

<h1>All Roles</h1>
<br />
<br />
<a asp-action="Create" class="btn btn-primary mb-5">Create New Role</a>

<div class="row justify-content-center align-items-center mt-5">

    <form asp-action="Index" class="row col-8 offset-1">
        <div class="col-8">
            <input class="form-control" type="text" name="name" placeholder="Search By Name" />
        </div>
        <div class="col-4">
            <input class="btn btn-success" type="submit" value="Search" />
        </div>


    </form>

</div>

@if (Model.Count() > 0)
{
    <table class="mt-4 table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(R => R.Id)</th>
                <th>@Html.DisplayNameFor(R => R.RoleName)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(M => role.Id)</td>
                    <td>@Html.DisplayFor(M => role.RoleName)</td>
                    
                    <partial name="_ButtonsPartial" model="@role.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There is No Roles :(</h3>
    </div>
}